<!-- in every control field i am adding two validation messages first one to display info about what ever the field is required  -->
<!-- the second one is to describe if the field is valid as a whole -->
<!-- we did add the ngModel [email]='true' to give the email input to give it that email like behaviour (validation,....) -->
<div class="columns container">
  <form class="is-three-fifths " [formGroup]="myForm" (ngSubmit)="submitForm(myForm.value)">
    <div class="field">
      <label for="username" class="label">Username</label>
      <div class="control">
        <input type="text" class="input" placeholder="username" id="username" [formControl]="myForm.controls['username']"
        [class.is-danger]="myForm.controls['username'].touched && !myForm.controls['username'].valid" >
        <p class="help is-danger" *ngIf="myForm.controls['username'].touched && myForm.controls['username'].hasError('required')">
          This username field is required</p>
        <p class="help is-danger"
           *ngIf="myForm.controls['username'].touched && myForm.controls['username'].hasError('invalidUsername')
           && !myForm.controls['username'].hasError('required')">This username field is not valid </p>
      </div>
    </div>
    <div class="field">
      <label class="label">Email</label>
      <div class="control">
        <input class="input is-danger" type="email" placeholder="Email input" [formControl]="myForm.controls['email']"
        ngModel [email]="true" [class.is-danger]="!myForm.controls['email'].valid && myForm.controls['email'].touched">
      </div>
      <p class="help is-danger" *ngIf="myForm.controls['email'].touched && myForm.controls['email'].hasError('required')">
        This email field is required</p>
      <p class="help is-danger" *ngIf="myForm.controls['email'].touched && !myForm.controls['email'].valid
      && !myForm.controls['email'].hasError('required')">This email field is invalid</p>
    </div>
    <div class="field">
      <label class="label">Type</label>
      <div class="control">
        <div class="select">
          <select [formControl]="myForm.controls['type']" >
            <option value="short" >short description (less than 100 words)</option>
            <option value="long">long description (over 500 words)</option>
          </select>
        </div>
      </div>
    </div>
    <div class="field">
      <label class="label">Message</label>
      <div class="control">
        <textarea class="textarea" placeholder="Textarea" [formControl]="myForm.controls['message']"></textarea>
        <p class="help is-danger" id="message-danger"
           *ngIf="(myForm.controls['message'].touched && myForm.controls['message'].hasError('invalidMessage')) 
           || (myForm.controls['message'].dirty && myForm.controls['message'].hasError('invalidMessage'))">
           This message doesn't respect the length specifications</p>   
      </div>
      <span class="tag is-light" id="msg_length" >{{messageLength}}</span>
    </div>
    <div class="field">
      <div class="control">
        <label class="checkbox">
          <!-- when submitting the form and if the 'terms_check_box' is checked we will have terms_check_box=checked-->
          <input type="checkbox" [formControl]="myForm.controls['terms_check_box']" id="terms_check_box">
          I agree to the terms and conditions
        </label>
      </div>
    </div>
    <div class="field ">
      <div class="control">
        <button class="button is-white" type="submit" [disabled]="!myForm.valid || (!myForm.valid && myForm.touched)
        || (!myForm.valid && myForm.dirty)">Submit</button>
      </div>
    </div>
  </form>
</div>
